export SCHEDULER_ENABLED='true';

export APP_SECRET='';

export MACAROONS_SECRET='';

export JAAS_PATH='';

export POSTGRESQL_ADDON_URI='';
export POSTGRESQL_ADDON_PORT='';
export POSTGRESQL_ADDON_HOST='';
export POSTGRESQL_ADDON_DB='';
export POSTGRESQL_ADDON_PASSWORD='';
export POSTGRESQL_ADDON_USER='';

export WARP_APP='';
export WARP_PRODUCER='';
export WARP_SIP_HASH_APP='';
export WARP_SIP_HASH_TOKEN='3';
export WARP_AES_TOKEN='';
export WARP_ENDPOINT='';

export KAFKA_HOST='';
export KAFKA_HTTPCHECKS_TOPIC='';
export KAFKA_HTTPCHECKS_INTERVAL='';
export KAFKA_SSLCHECKS_TOPIC='';
export KAFKA_SSLCHECKS_INTERVAL='';
export KAFKA_DNSCHECKS_TOPIC='';
export KAFKA_DNSCHECKS_INTERVAL='';
export KAFKA_ICMPCHECKS_TOPIC='';
export KAFKA_ICMPCHECKS_INTERVAL='';
export KAFKA_ENDPOINT=''
export KAFKA_WRITER_USER=''
export KAFKA_WRITER_PASSWORD='';
export KAFKA_SECURITY_PROTOCOL='';
