export ENABLE_METRICS='true';
export PORT='8080';

export APP_SECRET='';

export POSTGRESQL_ADDON_URI='';
export POSTGRESQL_ADDON_PORT='';
export POSTGRESQL_ADDON_HOST='';
export POSTGRESQL_ADDON_DB='';
export POSTGRESQL_ADDON_PASSWORD='';
export POSTGRESQL_ADDON_USER='';

export KAFKA_HOST='';
export KAFKA_HTTPCHECKS_TOPIC='';

export WARP_APP='';
export WARP_OWNER='';
export WARP_SIP_HASH_APP='';
export WARP_SIP_HASH_TOKEN='';
export WARP_AES_TOKEN='';
export WARP_ENDPOINT='';

export WARP_READ_TOKEN='';
export WARP_WRITE_TOKEN='';
